.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }


html{
	background-color: white;
}

.md-button.md-mini {
      line-height: 2%;
      width: 2%;
      height: 2%;
}